---
id: "register"
data: {
    first_name: 'First name',
    second_name: 'Last name',
    login: 'login',
    email: 'Email',
    phone: 'Phone',
    password: 'Password'
}
---
<html>
<head>
        <script src="../index.js" type="module"></script>
</head>
<body>
    <main id="{{ id }}">
        <div class="login-form">
            <header>Create account</header>
            <form>
                {{#each data}}
                    <label for="{{@key}}" class="text-muted">{{this}}</label>
                    <input type="text" name="{{@key}}" id="{{@key}}">
                {{/each}}
                <button type="button" class="primary-button" onclick="location.href=`${location.origin}/chats`">Register</button>
                <button type="button" onclick="location.href=`${location.origin}/login`" class="secondary-button">Sign in</button>
            </form>

        </div>
    </main>
</body>
</html>
